*

!steam/
!steam/*
!steam/*/*
!steam/*/*/*
!steam/*/*/*/*
!steam/*/*/*/*/*
!steam/*/*/*/*/*/*
!steam/*/*/*/*/*/*/*

!docs/
!docs/*
!docs/api/
!docs/api/*.rst

!protobufs/
!protobufs/*

!tests/
!tests/*

!vcr/
!vcr/*

!recipes/
!recipes/*
!recipes/*/*
!recipes/*/*/*

*.egg-info
*.pyc
.coverage
*.swp
*.bin

venv