coverage==4.0.3
setuptools>=11.3
gevent-eventemitter==1.4
enum34==1.1.2; python_version < '3.4'
gevent==1.1.0
mock==1.3.0
nose==1.3.7
protobuf==3.0.0b2
cryptography==1.3
PyYAML==3.11
requests==2.9.1
vcrpy==1.7.4
vdf==2.0
sphinx==1.3.5
