six>=1.10.0
pycryptodomex>=3.7.0
requests>=2.9.1
vdf>=2.0
gevent>=1.2.0
protobuf>=3.0.0
gevent-eventemitter>=2.0
enum34==1.1.2; python_version < '3.4'
coverage==4.0.3
pytest==3.2.1
pytest-cov==2.5.1
mock==1.3.0
nose==1.3.7
PyYAML==3.11
vcrpy==1.7.4
sphinx==1.3.5
